@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: 'Fredoka One', cursive;
}

header ul {
  text-align: center;
}

header a {
  text-decoration: none;
}

.about-us {
  background-color: #EC6568;
}

figcaption {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.cards img {
  display: block;
  margin: 0 auto 1rem;
}

.cards a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #522720;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

.cards li {
  display: inline-block;
  margin: 0 .5em 1em;
  max-width: 20em;
  padding: 1em;
  border: 3px solid #e2e2e2;
  border-radius: 10px;
  text-align: left;
}

@media only screen and (min-width: 50em) {

  header ul {
    text-align: right;
  }

}
