@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;

  font-family: "PT Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: "Fredoka One", cursive;
}

header ul {
  text-align: center;
}

header a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  color: #6aa8e0;
}

header a:hover {
  color: #4b7aa5;
}

.banner-content {
  font-family: "Ranga", cursive;
  color: pink;
}

.about-us {
  background-color: #ec6568;
}

.about-us img {
  max-width: 25em;
}

.feature {
  background-color: #e3ebf1;
}

.feature h2 {
  text-align: center;
}

figcaption {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.simple-pricing {
  background-color: #fcb669;
}

.simple-pricing h2 {
  text-align: center;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.cards img {
  display: block;
  margin: 0 auto 1rem;
}

.cards a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #7ab35f;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  margin: auto;
}

.cards a:hover {
  background-color: #5b8946;
  border-color: #5b8946;
}

.cards li {
  display: inline-block;
  background-color: #fff;
  margin: 0 .5em 1em;
  max-width: 20em;
  padding: 1em;
  border: 3px solid #e2e2e2;
  border-radius: 10px;
  text-align: center;
}

.news {
  background-color: #e3ebf1;
}

.news h2 {
  text-align: center;
}

.news img {
  max-width: 20em;
}

.btn {
  background-color: #7ab35f;
  border-color: #7ab35f;
}

.btn:hover {
  background-color: #5b8946;
  border-color: #5b8946;
}

.product {
  background-color: #ec6568;
}

.product h2 {
  text-align: center;
}

.target {
  background-color: #e3ebf1;
}

.target h2 {
  text-align: center;
}

.works {
  background-color: #fcb669;
}

.works h2 {
  text-align: center;
}

.works figcaption {
  text-align: center;
}

.review {
  background-color: #e3ebf1;
}

.review h2 {
  text-align: center;
}

.review caption {
  text-align: center;
}

.review tbody tr:nth-child(odd) {
  background-color: #fff;
}

.pricing {
  background-color: #e3ebf1;
}

.pricing h2 {
  text-align: center;
}

.pricing img {
  max-width: 25em;
}

footer {
  background-color: #649ed3;
  color: #fff;
}

footer ul {
  text-align: right;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #e5e5e5;
}

@media only screen and (min-width: 50em) {

  header ul {
    text-align: right;
  }

}
